{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="{% static 'css/index.css' %}" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap" rel="stylesheet">
	<title>ToDoList</title>
</head>
<body>

	<header class="header">
		<div class="container">
			<div class="header__inner">
				<div class="header__logo">ToDoList</div>
				<nav class="nav">
					<a class="nav__link" href="{% url  'my_profile' %}">Профиль</a>
				
					<a class="nav__link" href="{% url 'logout' %}">Выход</a>
					
				</nav>
			</div>
		</div>
	</header>

	<div class="intro">
		<div class="container">
			<div class="intro__inner">
				<h2 class="intro__suptitle">Планируйте  вместе с нами</h2>


				<a class="btn" href="{% url  'task_list' %}">Начать</a>
			</div>
			
		</div>
	</div>
	
</body>
</html>