{% extends "_base.html" %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}
<div class="header-bar">
    <div>
        <h1>Забыли пароль?</h1>
    </div>
    <a href="{% url 'login' %}">Назад</a>
</div>
    <p>Пожалуйста, введи ваш адрес электронной почты, который вы использовали при регистрации, для восстановления пароля.</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Отправить"></p>
        {% csrf_token %}
    </form>
{% endblock %}