{% extends "_base.html" %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<div class="header-bar">
    <h1>Смена пароля</h1>
</div>
    {% if validlink %}
        <p>Пожалуйста, введи ваш новый пароль:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить"/></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна. Пожалуйста, повторите еще раз.</p>
    {% endif %}
{% endblock %}