{% extends "_base.html" %}
{% block content %}

<div class="header-bar">
    <h1>Новая учетная запись</h1>
    <a href="{% url 'index_page' %}">&#8592;</a>
</div>

<div class="card-body">
	<form action="." method="POST">
        {% csrf_token %}
        {{ user_form.as_p }}
        
       
        <input style="margin-top: 10px;" class="button" type="submit" value="Создать">
    </form>

<p>Уже зарегистрированы?<a href="{% url 'login' %}" style="color:royalblue ;">Войти</a></p>
</div>

{% endblock %}